* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
body {
  display: flex;
  justify-content: center;
  padding: 4rem;
  font-family: Ubuntu, sans-serif;
}
.ad-selected {
  border: 1px solid hsl(243, 100%, 62%);
  background-color: hsl(217, 100%, 97%);
}
.ad .active .number {
  background-color: hsl(206, 94%, 87%) !important;
  border: none;
  color: hsl(213, 96%, 18%) !important;
}
.card-item input:focus {
  outline: 2px solid hsl(243, 100%, 62%);
  outline-offset: -2px;
}
.card-item .error {
  display: none;
  color: hsl(354, 84%, 57%);
  font-size: 0.9rem;
  font-weight: 600;
  padding-left: 22rem;
  margin-top: -1.5rem;
  margin-bottom: 0;
}
.selected {
  border: 1px solid hsl(228, 100%, 62%);
  background-color: hsl(217, 100%, 97%);
}
.free-text {
  color: blue;
  font-weight: 500;
}
.error-message {
  display: none;
  color: red;
  margin-top: 5px;
  padding-left: 10rem;
}
.main-card {
  background-color: hsl(208, 65%, 95%);
  display: flex;
  padding: 4rem;
  width: 1200px;
  height: 800px;
}
.card {
  background-color: #ffffff;
  height: 600px;
  width: 900px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  column-gap: 3rem;
  margin: auto;
  position: relative;
}
.sidebar {
  height: 100%;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 2rem;
  background-image: url("./assets/images/bg-sidebar-desktop.svg");
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 2rem;
}
.step {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
.step-info {
  color: #ffffff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.name {
  color: hsl(229, 24%, 87%);
}
.number {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
input {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
  font-size: 16px;
  padding-left: 1rem;
}
.err {
  border: 1px solid hsl(354, 84%, 57%) !important;
}
.margin {
  margin-right: 17rem;
}
.step-1 {
  padding-top: 4rem !important;
}
.step-1 p {
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: hsl(231, 11%, 63%);
}
.step-1 label {
  color: hsl(213, 96%, 18%);
}
.card-item {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.card-item input {
  height: 3rem;
  border-radius: 0.3rem;
  border-color: hsl(229, 24%, 87%);
  border-style: groove;
}
.step-1 #button {
  height: 2.5rem;
  width: 5rem;
  color: #ffffff;
  font-weight: bold;
  align-content: center;
  background-color: darkblue;
  border-radius: 0.5rem;
  position: absolute;
  margin-top: -1rem;
  margin-left: 27rem;
}
.card-item label {
  display: inline-block;
  width: 120px;
  margin-right: 10px;
}
.step-1,
.step-2,
.step-3,
.step-4,
.step-5 {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem;
  padding-top: 2rem;
  width: 70%;
}
.plans {
  display: flex;
  width: 100%;
  height: auto;
  column-gap: 1rem;
  margin-top: 2rem;
}
#ptag {
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: hsl(231, 11%, 63%);
}
.plans-card {
  border: 1px solid hsl(213, 96%, 18%);
  border-radius: 0.5rem;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
  padding: 1rem;
}
.plan-name {
  position: relative;
}
.plan-price {
  position: absolute;
  margin-left: 24rem;
}
.selection {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
}
.selection input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.selection label {
  cursor: pointer;
  width: 3rem;
  height: 1.5rem;
  background: rgb(2, 2, 65);
  display: block;
  border-radius: 2rem;
  position: relative;
}

.selection label:after {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0.2rem;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border-radius: 2rem;
  transition: transform 0.2s;
}

.selection input:checked + label {
  background: rgb(2, 2, 65);
}

.selection input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.selection label:active:after {
  width: 130px;
}
.switch-active {
  color: hsl(213, 96%, 18%);
}
.next-page {
  display: flex;
  height: 10%;
  width: 100%;
  margin-top: 28rem;
  column-gap: 20rem;
  align-items: center;
  position: absolute;
}
.next-page #previous-page {
  border: none;
  font-weight: 700;
  font-size: 15px;
  background-color: transparent;
  border-radius: 7px;
  color: hsl(232, 89%, 11%);
  cursor: pointer;
  margin-left: 1rem;
}
.next-page #button {
  height: 2.5rem;
  width: 5rem;
  color: #ffffff;
  font-weight: bold;
  background-color: darkblue;
  border-radius: 0.5rem;
  align-content: center;
}
#price-container {
  color: gray;
  font-weight: bold;
}
.step-3 a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(4, 4, 60);
}
.step-3 input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  visibility: visible;
}
.add-ons {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.add-ons-card {
  border: 1.5px solid rgb(23, 9, 58);
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}
#cost {
  margin-left: auto;
  color: blue;
}
.service {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-left: 1rem;
}
.service p {
  color: gray;
}
.final {
  background-color: rgb(244, 240, 240);
}
.step-4 a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(4, 4, 60);
}
.total-price {
  display: flex;
  column-gap: 18rem;
  margin-top: 2rem;
}
.total-price p {
  color: gray;
  font-weight: bold;
}
#total {
  font-weight: bold;
  color: blue;
  font-size: 18px;
}
.final {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 1rem;
}
.plan {
  display: flex;
  column-gap: 16rem;
}
.plan-info {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.plan a {
  color: blue;
  text-decoration: underline;
  font-weight: lighter;
}
.plan p {
  padding-top: 1rem;
  font-weight: bolder;
}
.line {
  border-top: 1px solid gray;
}
.step-5 {
  padding-top: 8rem;
  align-items: center;
}
.thankyou-info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  margin-top: 3rem;
}
.thankyou-info p {
  width: 70%;
  text-align: center;
  color: gray;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 17px;
    margin-top: 0;
    padding-top: 0;
  }
  .margin {
    margin-right: 9rem;
  }
  .card-item .error {
    padding-left: 8rem;
  }
  .error-message {
    padding-left: 6rem;
  }
  .main-card {
    width: 450px;
    height: 700px;
    padding: 0;
    position: relative;
  }
  .card {
    width: 100%;
    height: 95%;
    margin: 0;
    border-radius: 0;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .sidebar {
    flex-direction: row;
    column-gap: 0.5rem;
    border-radius: 0;
    width: 100%;
    height: 35%;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 4rem;
    background-image: url("./assets/images/bg-sidebar-mobile.svg");
    background-size: cover !important;
  }

  .number {
    margin-right: 1rem;
  }
  .step-info {
    display: none;
  }
  .step {
    width: 25%;
    justify-content: center;
    margin-right: -3rem;
  }
  .step:first-child {
    margin-left: 4.5rem;
  }
  .step-1,
  .step-2,
  .step-3,
  .step-4,
  .step-5 {
    width: 90%;
    height: 85%;
    margin: 0 1.3rem;
    margin-top: -22%;
    padding: 2rem;
    padding-top: 3rem;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .step-1 .next-page #button {
    margin-left: 23rem;
    margin-top: 0.5rem;
  }
  .plans {
    flex-direction: column;
    row-gap: 0.5rem;
    margin: 0;
  }
  .plans-card {
    width: 100%;
    flex-direction: row;
    column-gap: 1rem;
  }
  #ptag {
    margin: 0;
  }
  .plan-name {
    position: relative;
  }
  .plan-price {
    position: absolute;
    margin-left: 13rem;
  }
  .selection {
    margin: 0;
    background-color: rgb(249, 249, 249);
    padding: 1rem;
    margin-bottom: 6rem;
  }
  .next-page {
    column-gap: 15rem;
    margin-left: 0rem;
    align-items: center;
    position: absolute;
    bottom: -6.2rem;
    right: 20px;
  }
  .next-page #previous-page {
    padding-left: 2rem;
  }
  .add-ons-card {
    width: 100%;
  }
  .final {
    margin-top: 2rem;
  }
  .plan {
    column-gap: 4rem;
  }
  .price-info {
    column-gap: 6rem;
  }
  .total-price {
    column-gap: 5rem;
  }
  .thankyou-info p {
    width: 105%;
  }
}
@media screen and (max-width: 390px) {
  .main-card {
    width: 350px;
  }
  .step-1,
  .step-2,
  .step-3,
  .step-4,
  .step-5 {
    height: 80%;
    padding-top: 2rem;
  }
  .final {
    margin-top: 0;
  }
  .plan-price {
    margin-top: 0.5rem;
    margin-left: 8rem;
  }
  .step-1 p {
    margin-bottom: 0rem;
  }
  .step-1 .next-page #button {
    margin-top: 0rem;
    margin-left: 16rem;
  }
  .number {
    margin-right: 40px;
    margin-bottom: 6rem;
    align-content: center;
  }
  .step-info {
    display: none;
  }
  .step {
    width: 25%;
  }
  .sidebar {
    height: 25%;
    width: 100%;
    margin-top: -4rem;
    padding-top: 6rem;
    column-gap: 0.8rem;
    background-size: cover !important;
  }
  .step {
    margin-right: -2.5rem;
  }
  .step:first-child {
    margin-left: 4rem;
  }
  input {
    padding-left: 0rem;
  }
  .next-page {
    column-gap: 9rem;
  }
  .step-4 .next-page {
    column-gap: 8rem;
  }
  .error-message {
    margin-top: -5rem;
    margin-left: -4rem;
  }
  .margin {
    margin-right: 4rem;
  }
  .total-price {
    column-gap: 0.8rem;
    margin-top: 2rem;
  }
}
